# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [10]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json
# Import API key
from api_keys import g_key

ModuleNotFoundError: No module named 'api_keys'

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [11]:
cities = pd.read_csv("output_data/cities.csv")
cities.head()

,Unnamed: 0,City,Country,Latitude,Longitude,Date,Temp,Max Temp,Min Temp,Humidity,Cloudiness,Wind Speed
0,0,Airai,TL,-8.93,125.41,1586970338,61.65,61.65,61.65,69,100,2.89
1,1,Husavik,IS,66.04,-17.34,1586970802,37.40,37.40,37.40,74,75,6.93
2,2,Punta Arenas,CL,-53.15,-70.92,1586970338,52.57,55.40,51.01,71,99,6.93
3,3,Saskylakh,RU,71.92,114.08,1586970343,-5.26,-5.26,-5.26,91,94,6.20
4,4,Ushuaia,AR,-54.80,-68.30,1586970337,51.80,51.80,51.80,66,20,4.92

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [12]:
locations = cities[["Latitude", "Longitude"]]
humidity = cities["Humidity"].astype(float)

In [13]:
gmaps.configure(api_key = g_key)
fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights = humidity, dissipating = False, max_intensity = 10, point_radius = 1)
fig.add_layer(heat_layer)
fig

NameError: name 'g_key' is not defined

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [14]:
ideal_cities = cities.loc[(cities["Max Temp"] < 80) & (cities["Max Temp"] > 70) & (cities["Wind Speed"] < 10) & (cities["Cloudiness"] == 0)]
ideal_cities .reset_index(inplace = True)

ideal_cities

,index,Unnamed: 0,City,Country,Latitude,Longitude,Date,Temp,Max Temp,Min Temp,Humidity,Cloudiness,Wind Speed
0,361,361,Jardim,BR,-21.48,-56.14,1586970647,74.86,74.86,74.86,35,0,6.93
1,444,444,Pozo Colorado,PY,-23.49,-58.80,1586970918,78.12,78.12,78.12,27,0,5.50
2,545,545,Sawākin,SD,19.11,37.33,1586970458,75.09,75.09,75.09,61,0,9.40

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [15]:
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json?"
hotels = []
hotel_loc = []
for index, row in ideal_cities.iterrows():
    lat = row["Latitude"]
    long = row["Longitude"]
    location = f"{lat}, {long}"
    params = {"key": g_key,
             "type": "lodging",
             "keyword": "hotel",
             "location": location, 
             "radius": 5000,}
    response = requests.get(base_url, params = params)
    hotel_data = response.json()
    #print(json.dumps(hotel_data, indent=4, sort_keys=True))
    try:
        hotels.append(hotel_data["results"][0]["name"])
        hotel_loc.append((hotel_data["results"][o]["geometry"]["location"]["lat"], hotel_data["results"][o]["geometry"]["location"]["lng"]))
    except:
        continue

ideal_cities.loc[:, "Hotel Name"] = hotels
ideal_cities.loc[:, "Hotel Loc"] = hotel_loc

index
Unnamed: 0
City
Country
Latitude
Longitude
Date
Temp
Max Temp
Min Temp
Humidity
Cloudiness
Wind Speed

In [6]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in ideal_cities.iterrows()]
locations = ideal_cities["Hotel Loc"]

NameError: name 'ideal_cities' is not defined

In [ ]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations)
fig.add_layer(markers)
fig

# Display Map